<nav id="sidebar">
  <!-- Sidebar Header -->
  <div class="header">
    <img src="/img/logo.svg" alt="">
  </div>
  <div class="components">
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Getting Started</a></li>
      <li>
        <a href="#">Features</a>
        <ul class="sub">
          <li><a href="#">About</a></li>
          <li><a href="#">Getting Started</a></li>
        </ul>
      </li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
      <li><a href="#">CLI Commands</a></li>
    </ul>
  </div>
  <div class="footer">
    <a href="https://github.com/kubernetes/helm" class="button small primary expand email-support">
      <i class="fab fa-github"></i> Contribute to Docs
    </a>
  </div>
</nav>
