{{ define "main" }}

  <div class="home">
    <h1>Containerum</h1>
    <h2>Software and expertise for simpler K8s cluster management</h2>
    <div class="break"></div>


    <div class="popular container-fluid">
      <h3 class="popular-title">Most common and helpful pages</h3>
      <div class="row">
        <div class="col-lg-4">
          <div class="item">
            <h4>Introduction to Containerum</h4>
            <p>Containerum assumes that the same structure that works to organize your source content is used to organize the rendered site.</p>
            <div class="read-more">
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item">
            <h4>Introduction to Containerum</h4>
            <p>Containerum assumes that the same structure that works to organize your source content is used to organize the rendered site.</p>
            <div class="read-more">
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item">
            <h4>Introduction to Containerum</h4>
            <p>Containerum assumes that the same structure that works to organize your source content is used to organize the rendered site.</p>
            <div class="read-more">
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item">
            <h4>Introduction to Containerum</h4>
            <p>Containerum assumes that the same structure that works to organize your source content is used to organize the rendered site.</p>
            <div class="read-more">
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{{ end }}
